.right-column{
  float: right;
  width: 79%;
}
.slider_label{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border:0;
  color: #4d413c;
  font-weight: 300;
}
.label{
  font-family: 'Montserrat', sans-serif;
  background:#fefbf7;float: right;
  padding: 14px 23px 13px 23px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
}
.specs{
  margin: 3px 21px 0 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.button{
  background-image: linear-gradient(to bottom, #F29C33 0%, #DC9033 51%, #cb8734 100%);
  width: 112px;
  padding: 11px;
  border-radius: 6px;
  color: #fff;
  border-color: transparent;
}
.product_title{
  font-weight: 100;
  line-height: 1.4;
  font-size: 1.27em;
  margin: 26px 0 0 17px;
}
.product_img{
  height: 147px;
  width: 257px;
  border-radius: 0 30px;
}
.specs_sqr{
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin: 16px -8px 22px 7px;
}
.specs_dim{
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  margin: 17px -8px 22px 8px;
}
.specs_icons{
  vertical-align: middle;
  display: inline-block;
}
.button_block{
  margin:1px 0 21px 15px;
  display: inline-block;
}
.container{
  background: #fff;
}
.left-column{
  padding: 6px 0 0 26px;
  float: left;width: 18.8%;
}
.accordion {
  font-weight: 700;
  background: #fff;
  margin-top: 13.1px;
  color: #444;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px; /* Уголки */
  box-shadow: 0 0 22px rgba(0,0,0,0.1); /* Параметры тени */
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.shadow {
  box-shadow: 0 0 22px rgba(0,0,0,0.16); 
  padding: 7px 12px 0 7px;
}
.product-thumb{
  box-shadow: 0 0 22px rgba(0,0,0,0.16); 
  padding: 7px 12px 0 7px;
  display: inline-block;
  width: 20%;
  min-width: 253px;
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  border-radius: 0 38px 0 0;
  max-height: 353px;
}